.home-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}

@media (max-width: 550px) {
  .difficultyButtonContainer {
    flex-direction: column;
  }
  p {
    text-align: center;
    padding-inline: 10%;
  }
}
