.test-container {
  background-color: #e0daed;
  padding: 2rem;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(4px, 4vw, 30px);
  text-overflow: ellipsis;
}
.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #d6cfe4;
  border-radius: 10px;
  margin-top: 15px;
}

span.bold {
  font-weight: 600;
}

span.correct-text {
  color: #4a840b;
  font-weight: bold;
}

span.incorrect-text {
  color: #fc738c;
  font-weight: bold;
}

span.active-text {
  border-bottom: 3px solid #3bb89a;
}

input.typing-input {
  opacity: 0;
  z-index: 998;
  position: absolute;
  width: 95%;
  height: 95%;
}

.stats-finished-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.go-back-button {
  z-index: 999;
  justify-content: center;
  align-items: center;
  height: min-content;
}
