body {
  font-family: "Inter";
  font-weight: 400;
  color: #292d31;
  background-color: #d1ccdc;
}
p {
  color: #292d31;
  font-family: "Inter";
}

.difficultyButtonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.button {
  background-color: #49dcb1;
  color: #424c55;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.button:active {
  transform: scale(0.9);
}

.button:hover {
  background-color: #3bb89a;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.clicked {
  background-color: #424c55;
  color: #49dcb1;
}

.submit-button:disabled {
  background-color: #a0a0a0;
  color: #ffffff;
  cursor: not-allowed;
}
